[2018-09-13 05:01] mybit-bot opened #1 "Write tutorial on how to use our DDF"
**Introduction**
Our Decentralised Development Fund (DDF) is a simple layer on top of Bounty Platforms in order to showcase project specific bounties. Our website, https://ddf.mybit.io, allows anyone to earn MYB tokens by solving some of the Bounties we list there. We need a guide to teach newcomers how to participate in our bounty system.

**User Story**
As a user, I want to be able to read a doc

[2018-09-13 05:05] status-open-bounty commented on #1
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x83486246fe72790d9906689193f90d0047ef53779d9eef9ba7082522b6f7f5e6](https://etherscan.io/tx/0x83486246fe72790d9906689193f90d0047ef53779d9eef9ba7082522b6f7f5e6)

[2018-09-14 15:30] mybit-bot opened #2 "test012345"
after the fact description comment test.

[2018-09-14 15:35] status-open-bounty commented on #2
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xcdc33422750fd75aef641e2e279f999b3ef06e74df8a9a188470486769a7835f](https://etherscan.io/tx/0xcdc33422750fd75aef641e2e279f999b3ef06e74df8a9a188470486769a7835f)

[2018-09-14 16:00] mybit-bot opened #3 "Translate website text to Chinese"
oui

[2018-09-14 16:00] mybit-bot opened #4 "Review website Text to Chinese"
test

[2018-09-14 16:00] status-open-bounty commented on #3
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x8b995d8af57351352615ae54ed31017b3fda42c425703ea992a645ee516b753e](https://etherscan.io/tx/0x8b995d8af57351352615ae54ed31017b3fda42c425703ea992a645ee516b753e)

[2018-09-14 16:00] status-open-bounty commented on #4
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x75bd3f30b976db4e16556d05731132357b16429452c1ff98606d5f339ffbdd84](https://etherscan.io/tx/0x75bd3f30b976db4e16556d05731132357b16429452c1ff98606d5f339ffbdd84)

[2018-09-14 16:05] mybit-bot opened #5 "Translate Whitepaper to Chinese"
Link:

[2018-09-14 16:05] mybit-bot opened #6 "Translate Go v0.2 to Chinese"
This includes documentation.
Link:

[2018-09-14 16:05] status-open-bounty commented on #5
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x54add93d1c78651f3c0851edefb60e651ac242330f1efcae7cf35762737864ca](https://etherscan.io/tx/0x54add93d1c78651f3c0851edefb60e651ac242330f1efcae7cf35762737864ca)

[2018-09-14 16:05] status-open-bounty commented on #6
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xc87b2edbac62f1f4a0002a6415e9935b3b3dc9fec1be3ec5b28013c7062748c1](https://etherscan.io/tx/0xc87b2edbac62f1f4a0002a6415e9935b3b3dc9fec1be3ec5b28013c7062748c1)

[2018-09-14 16:15] mybit-bot opened #7 "Translate Go website to Chinese"

[2018-09-14 16:15] mybit-bot opened #8 "Translate website text to Japanese"
Introduction: Translate the text from mybit.io to Japanese

Requirements:
1. Download the file
2. Place translations directly next to English words
3. Fork task repo, upload translation file, and submit pull request.

Resources:
https://www.dropbox.com/s/4saqwvla9bau3n6/MyBitWebsiteContent.pages?dl=0
https://files.mybit.io/files/

Expected Deliverables:
Translated document with English words inclu

[2018-09-14 16:15] mybit-bot opened #9 "Translate whitepaper to Japanese"
Introduction: Translate the text from MyBit Whitepaper to Japanese

Requirements:
1. Download the file
2. Place translations directly next to English words
3. Fork task repo, upload translation file, and submit pull request.

Resources:
https://mybit.io/whitepaperv2.0
https://files.mybit.io/files/

Expected Deliverables:
Translated document with English words included in .doc or .docx format.

Add

[2018-09-14 16:15] mybit-bot opened #10 "Translate Go v0.2 to Japanese"

[2018-09-14 16:15] mybit-bot opened #11 "Translate Go website to Japanese"
## Introduction
Translate the text from MyBit Go website to Japanese

## Requirements
1. Download the file.
2. Place translations directly next to English words.
3. Fork task repo, upload translation file, and submit pull request with the translation.

## Resources
https://www.dropbox.com/s/6l1f3cszaiiyh8p/GoWebsiteContent.docx?dl=0
https://files.mybit.io/files/

## Expected Deliverables
Translate

[2018-09-14 16:15] status-open-bounty commented on #7
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x6a811327d80e08e6ea4dec93e8dcb34ab7f7899fd0f574441a95f4cdf28dcb9d](https://etherscan.io/tx/0x6a811327d80e08e6ea4dec93e8dcb34ab7f7899fd0f574441a95f4cdf28dcb9d)

[2018-09-14 16:15] mybit-bot opened #12 "Translate website text to Korean"
Introduction: Translate the text from mybit.io to Korean

Requirements:
1. Download the file
2. Place translations directly next to English words
3. Fork task repo, upload translation file, and submit pull request.

Resources:
https://www.dropbox.com/s/4saqwvla9bau3n6/MyBitWebsiteContent.pages?dl=0
https://files.mybit.io/files/

Expected Deliverables:
Translated document with English words include

[2018-09-14 16:15] mybit-bot opened #13 "Translate whitepaper to Korean"
Introduction: Translate the text from the MyBit Whitepaper to Korean

Requirements:
1. Download the file
2. Place translations directly next to English words
3. Fork task repo, upload translation file, and submit pull request.

Resources:
https://mybit.io/whitepaperv2.0
https://files.mybit.io/files/

Expected Deliverables:
Translated document with English words included in .doc or .docx format.

A

[2018-09-14 16:15] mybit-bot opened #14 "Translate Go v0.2 to Korean"

[2018-09-14 16:15] mybit-bot opened #15 "Translate Go website to Korean"
Introduction: Translate the text from MyBit Go website to Korean

Requirements:
1. Download the file
2. Place translations directly next to English words
3. Fork task repo, upload translation file, and submit pull request.

Resources:
https://www.dropbox.com/s/6l1f3cszaiiyh8p/GoWebsiteContent.docx?dl=0
https://files.mybit.io/files/

Expected Deliverables:
Translated document with English words inc

[2018-09-14 16:15] mybit-bot opened #16 "Translate website text to Russian"

[2018-09-14 16:15] mybit-bot opened #17 "Translate whitepaper to Russian"
Introduction: Translate the text from the MyBit Whitepaper to Russian

Requirements:
1. Download the file
2. Place translations directly next to English words
3. Fork task repo, upload translation file, and submit pull request.

Resources:
https://mybit.io/whitepaperv2.0
https://files.mybit.io/files/

Expected Deliverables:
Translated document with English words included in .doc or .docx format.

[2018-09-14 16:15] status-open-bounty commented on #8
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xd8f59ad4a6e139934853acf624a498d793bfe236b1ca0234ac0bd50861e24e9a](https://etherscan.io/tx/0xd8f59ad4a6e139934853acf624a498d793bfe236b1ca0234ac0bd50861e24e9a)

[2018-09-14 16:15] mybit-bot opened #18 "Translate Go v0.2 to Russian"
Introduction: Translate the text from MyBit Go to Russian

Requirements:
1. Download the file
2. Place translations directly next to English words
3. Fork task repo, upload translation file, and submit pull request.

Resources:
https://www.dropbox.com/s/ubz9iaewnx2swcj/Go Documentation.docx?dl=0
https://files.mybit.io/files/

Expected Deliverables:
Translated document with English words included i

[2018-09-14 16:15] mybit-bot opened #19 "Translate Go website to Russian"
Introduction: Translate the text from MyBit Go website to Russian

Requirements:
1. Download the file
2. Place translations directly next to English words
3. Fork task repo, upload translation file, and submit pull request.

Resources:
https://www.dropbox.com/s/6l1f3cszaiiyh8p/GoWebsiteContent.docx?dl=0
https://files.mybit.io/files/

Expected Deliverables:
Translated document with English words in

[2018-09-14 16:20] mybit-bot opened #20 "Write script for Go explainer video"
Introduction: We need a script written for a brief animated video created explaining how the go platform works in no more than 30-45 seconds.

Requirements:
1. Must be easy to understand for people without a technical background
2. limit the use of blockchain technology and vocabulary
3. focus of the script should be explaining the value of Go compared to traditional investment funds.

Resources:

[2018-09-14 16:20] mybit-bot opened #21 "Write script for Go tutorial video"
Introduction: We need a script written for a brief tutorial video created explaining how to use the Go platform as an investor. This should include the steps and explanation of each.

Requirements:
1. Must be easy to understand for people without a technical background
2. limit the use of blockchain technology and vocabulary
3. create a walkthrough of using the platform as an investor from start t

[2018-09-14 16:20] mybit-bot opened #22 "Write blog tutorial for using Go as investor"
## Introduction
We need a blog post written explaining how to use the Go platform as an investor. This should include the steps and explanation of each.

## Requirements
1. Must be easy to understand for people without a technical background
2. limit the use of blockchain technology and vocabulary
3. create a walkthrough of using the platform as an investor from start to finish including the requi

[2018-09-14 16:20] mybit-bot opened #23 "Write Guide for using MyBit SDKs"
Distribute on your own channel. Must have _____ followers to be eligible.

[2018-09-14 16:20] mybit-bot opened #24 "Write guide for using DDF"
We need a blog written for a step by step tutorial of how to use the MyBit DDF including OpenBounty and Github for non-technical users. This should include the steps and explanation of each.

Requirements:

1. Must be easy to understand for people without a technical background
1. limit the use of blockchain technology and vocabulary
1. create a walkthrough of use the DDF.

Resources:
ddf.mybit.io

[2018-09-14 16:20] mybit-bot opened #25 "Video tutorial for using DDF"
## Introduction
We need a tutorial created for using the MyBit DDF which includes step by step instructions.

## Requirements
1. Must be easy to understand for people without a technical background
2. limit the use of blockchain technology and vocabulary
3. create a walkthrough of use the DDF.

## Resources
1. https://ddf.mybit.io
2. https://files.mybit.io/files/
3. https://medium.com/mybit-dapp/a

[2018-09-14 16:20] mybit-bot opened #26 "Write blog about the value of Go"
We need a blog written showcasing the value of MyBit Go over traditional investment funds.

Requirements:
1. Must be easy to understand for people without a technical background
2. limit the use of blockchain technology and vocabulary
3. clearly describe value points and competitive advantages

Resources:
go.mybit.io/app
https://files.mybit.io/files/

Expected Deliverables:
Final document in Engli

[2018-09-14 16:20] mybit-bot opened #27 "Video tutorial, how to invest with Go on testnet"
Distribute on your own channel. Must have _____ followers to be eligible.

[2018-09-14 16:20] mybit-bot opened #28 "Blog on overall summary of MyBit"
We need a blog written which gives an analysis and explanation of the entire mybit project.

https://www.coinbureau.com/review/omisego-omg/ can be used as an example.

Requirements:
1. Must be easy to understand for people without a technical background
2. limit the use of blockchain technology and vocabulary
3. Include: MyBit Network, MyBit SDK, DDF, MyBit Go, MYDAX and vision of decentralisation

[2018-09-14 16:20] mybit-bot opened #29 "Blog on tokensale model for MyBit"
We need a blog written which explains how the MyBit Token Distribution phase 2 model works and details about the sale in general.

Requirements:
1. Must be easy to understand for people without a technical background
2. limit the use of blockchain technology and vocabulary
3. Include: How it works, why this model, key details of sale, how to register and prepare for it, why it is exciting, etc.

R

[2018-09-14 16:20] mybit-bot opened #30 "Blog for strategies to invest in MyBit Tokensale"
We need a blog written which provides tips on strategies to participate in the mybit token distribution. Since it is similar to the model EOS used, someone with familiarity to that sale should write this article. It is especially interesting that MyBit is tradable on exchanges during this sale and how that will impact strategies to capitalise the most on the event.

Requirements:
1. Must be easy t

[2018-09-14 16:20] mybit-bot opened #31 "Propose a better onboarding chart for Go v0.2"

[2018-09-14 16:25] status-open-bounty commented on #23
Balance: 0 ETH
Tokens: MYB: 4000.00
Contract address: [0x7c0484f9268af71234835649fe7550256176c0cb](https://etherscan.io/address/0x7c0484f9268af71234835649fe7550256176c0cb)
Network: Mainnet
Paid to: jjperezaguinaga
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-09-14 16:26] status-open-bounty commented on #30
Balance: 0 ETH
Tokens: MYB: 8000.00
Contract address: [0xf921c4385aa8f4d352b62e0b675461adc2d6b33f](https://etherscan.io/address/0xf921c4385aa8f4d352b62e0b675461adc2d6b33f)
Network: Mainnet
Paid to: rd123myb
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-09-14 16:26] mybit-bot opened #32 "Propose better steps in guide for Go v0.2 onboarding"

[2018-09-14 16:26] mybit-bot opened #33 "Animated explainer video of MyBit"
## Introduction
We need an animated video created which gives an analysis and explanation of the entire mybit project. It should be no longer than 75 seconds.

## Requirements
1. Must be easy to understand for people without a technical background
2. limit the use of blockchain technology and vocabulary
3. Include: MyBit Network, MyBit SDK, DDF, MyBit Go, MYDAX and vision of decentralisation and a

[2018-09-14 16:40] mybit-bot opened #34 "Case Study, Remittance Market US-Mexico and BTMs"
We need a case study written regarding the remittance market between Mexico and NA and how Bitcoin ATMs could fit into the picture to provide a more flexible and cost-effective solution for international money transfers.

Requirements:
1. Must include sourced data regarding the remittance market
2. Must include sourced data of the Bitcoin ATM market
3. Must tie points 1 and 2 together to make a cl

[2018-09-14 16:45] mybit-bot opened #35 "Case study, VR arcade research in Asia"
We need a case study written regarding the virtual reality market and the arcade market in Asia. This should result in the convergence of an opportunity for VR arcades in Asia Markets.

Requirements:
1. Must include sourced data regarding the VR market
2. Must include sourced data of the arcade market in asia
3. Must tie points 1 and 2 together to make a claim about how VR can be a viable solution

[2018-09-14 16:45] status-open-bounty commented on #34
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xd02d21c9174188933dd9b61b2df26a89359bb1a405e9740332ac468eeab0ba85](https://etherscan.io/tx/0xd02d21c9174188933dd9b61b2df26a89359bb1a405e9740332ac468eeab0ba85)

[2018-09-14 16:45] status-open-bounty commented on #35
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xa72b30ea88346d2a87e57ae45ab7ed5d1c24273840b64e432a28d365bb525744](https://etherscan.io/tx/0xa72b30ea88346d2a87e57ae45ab7ed5d1c24273840b64e432a28d365bb525744)

[2018-09-14 20:55] mybit-bot opened #36 "coordinate interview"
more to come later

[2018-09-14 20:55] status-open-bounty commented on #36
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x7e4d5b3bafe59a196ff9c4cdc7391beb1df5775a4b22bdd742b2280ad6316169](https://etherscan.io/tx/0x7e4d5b3bafe59a196ff9c4cdc7391beb1df5775a4b22bdd742b2280ad6316169)

[2018-09-17 07:30] mybit-bot opened #37 "test-cris-1"
after the fact description comment test.

[2018-09-17 07:30] status-open-bounty commented on #37
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xa113c071be2d243e3a7bf0c93747f751fe9468faa1550a89a23f3dabaf6f2bdd](https://etherscan.io/tx/0xa113c071be2d243e3a7bf0c93747f751fe9468faa1550a89a23f3dabaf6f2bdd)

[2018-09-17 07:30] status-open-bounty commented on #37
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x157add09e4c5742fc2ab95b579f276c153f40b44566ce8080f25193b0f50318f](https://etherscan.io/tx/0x157add09e4c5742fc2ab95b579f276c153f40b44566ce8080f25193b0f50318f)

[2018-09-17 11:58] #37 closed

[2018-09-18 14:45] #2 closed

[2018-09-22 12:40] mybit-bot opened #38 "Brand Ambassador Program Guidelines and Materials"
pay based on amount of people that show up. email retention is an easy way but maybe someone can propose something better. verify with meetup or facebook group. bc if someone markets and gets 50 people compared to 5 they should get paid more but its difficult to track.

Required materials: Presentations, invite page, etc.

Required from meeting: info of participants, photos/videos, call to action.

[2018-10-04 20:40] kedMertens commented on #17
Hi!
I would like to contribute!
Where is whitepaper to translate? and how I can properly claim this bounty? Where should I get Ethereum address?

[2018-10-04 23:20] jjperezaguinaga commented on #4
@MyBitIO please update the description.

[2018-10-04 23:27] jjperezaguinaga commented on #31
@MyBitIO Please provide more information about this bounty.

[2018-10-14 14:07] #23 closed

[2018-10-14 14:10] #3 closed

[2018-10-14 14:10] #5 closed

[2018-10-14 14:10] #6 closed

[2018-10-14 14:10] #7 closed

[2018-10-14 14:39] #27 closed

[2018-10-14 14:45] #31 closed

[2018-10-14 14:48] #32 closed

[2018-10-14 15:11] #36 closed

[2018-10-14 15:17] #4 closed

[2018-10-15 12:56] mybit-bot opened #40 "this is a test"
to show james.

Task: Submit an image related to doge and a text file that says, "hi james, welcome to the DDF."

[2018-10-15 12:56] status-open-bounty commented on #40
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xd14abf23e0ba915f37ecd56814078b68127192269b8107b90570bbbc3527c151](https://etherscan.io/tx/0xd14abf23e0ba915f37ecd56814078b68127192269b8107b90570bbbc3527c151)

[2018-10-15 19:17] #40 closed

[2018-10-19 13:44] #28 closed

[2018-10-19 13:57] #1 closed

[2018-10-19 13:59] #24 closed

[2018-10-21 14:10] cryptnotiq commented on #35
it's updated @jjperezaguinaga

[2018-10-21 14:10] cryptnotiq commented on #34
it's updated @jjperezaguinaga

[2018-10-21 14:10] cryptnotiq commented on #33
it's updated @jjperezaguinaga

[2018-10-21 14:12] cryptnotiq commented on #17
@kedMertens
The Whitepaper can be found at https://mybit.io/whitepaperv2.0
Instructions to submit are here (it's actually much easier than the directions make it appear): https://medium.com/mybit-dapp/a-guide-to-the-mybit-decentralised-development-fund-45cb9c1bcda4

[2018-10-23 02:58] kedMertens commented on #17
@jiperezaguinaga, I'm on it

[2018-10-28 18:02] jameshalladay commented on #29
https://docs.google.com/document/d/1nIs4UTd1c7d0bbyi9thmNYoPGfdljWvm1v2oywL93-E/edit?usp=sharing

[2018-10-29 16:58] supapeach commented on #11
Hi is it still available ? I want to take care of it.

[2018-10-29 17:04] cryptnotiq commented on #11
Yes it is.

[2018-10-29 17:08] supapeach commented on #10
Hi can I take care of this task ?

[2018-10-29 17:14] cryptnotiq commented on #10
Yes sure!

[2018-10-31 08:51] supapeach commented on #11
Great, I am working on it !

[2018-11-04 17:37] mybit-bot opened #44 "Mobile Wallet Blog"
## Introduction
We need a blog written which explains how the MyBit Mobile wallet is used, the value, and a brief guide with screenshots of the application.

## Requirements
1. Must be easy to understand for people without a technical background
2. limit the use of blockchain technology and vocabulary
3. Include: How it works, Brief Guide with images from the application, and the value of Mobile w

[2018-11-04 17:43] mybit-bot opened #45 "Write Introducing Community Competitions Blog"
We need a blog written which explains MyBit Community Competitions powered by Vyper. Please work with [Chris Wyatt](https://app.asana.com/0/828440040212697/list) to understand the nature of the platform and how it will be utilised.

Requirements:
1. Must be easy to understand for people without a technical background
2. limit the use of blockchain technology and vocabulary
3. Include: How it works

[2018-11-04 17:43] status-open-bounty commented on #44
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x8d08f2e0ee29cbe12530015929eb3341d7204f83eb97e05803ad0a81f1042155](https://etherscan.io/tx/0x8d08f2e0ee29cbe12530015929eb3341d7204f83eb97e05803ad0a81f1042155)

[2018-11-04 17:48] mybit-bot opened #46 "Write Blog About the MyBit DDF"
## Instructions
We need a blog written which explains the value of the MyBit DDF and how it works.

## Requirements:
1. Must be easy to understand for people without a technical background
2. limit the use of blockchain technology and vocabulary
3. Include: How it works, Brief Guide with images from the application, and the value it offers.

## Key areas of Value:
1. Allowing anyone to contribute

[2018-11-04 17:48] status-open-bounty commented on #45
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xc163fb00f14f96eb6c8b4215e139ccb337d834abbf252d7abfd3b738d93abddf](https://etherscan.io/tx/0xc163fb00f14f96eb6c8b4215e139ccb337d834abbf252d7abfd3b738d93abddf)

[2018-11-04 17:53] status-open-bounty commented on #46
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x9912d94367e5f7a56b44e9068f5e89c8f945afe4b05e539484f7bb32f824197d](https://etherscan.io/tx/0x9912d94367e5f7a56b44e9068f5e89c8f945afe4b05e539484f7bb32f824197d)

[2018-11-04 17:58] mybit-bot opened #47 "Write Script for about MyBit video"
We need a script for an animated video created which gives an analysis and explanation of the entire mybit project. It should be no longer than 75 seconds.

Requirements:
1. Must be easy to understand for people without a technical background
2. limit the use of blockchain technology and vocabulary
3. Include: MyBit Network, MyBit SDK, DDF, MyBit Go, MYDAX and vision of decentralisation and autono

[2018-11-04 17:58] mybit-bot opened #48 "About MyBit Go Blog"
We need a blog written which explains the value of MyBit Go and how it works.

Requirements:
1. Must be easy to understand for people without a technical background
2. limit the use of blockchain technology and vocabulary
3. Include: How it works, Brief Guide with images from application, and the value it offers.

Key areas of Value:
1. Allows anyone to invest without going through a broker, fund,

[2018-11-04 18:08] status-open-bounty commented on #48
Balance: 0 ETH
Tokens: MYB: 17000.00
Contract address: [0x7e2046096665dac855cba098b118c2bfd7036fba](https://etherscan.io/address/0x7e2046096665dac855cba098b118c2bfd7036fba)
Network: Mainnet
Paid to: jjperezaguinaga
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-11-06 20:37] loputdine commented on #19
Hello! Would like to take this task. As I see, there is noone working on it right now

[2018-11-07 10:59] cryptnotiq commented on #19
@loputdine go for it!

[2018-11-07 11:00] cryptnotiq commented on #35
@MayneBrandProductions really up to you. Just make sure it covers the topic and analysis in detail.

[2018-11-09 14:40] mihaelkrieger commented on #33
Hey Team! I created a storyboard document with the scenes and graphics for the explainer video. Could you please review and let me know if there is anything that needs to be revised before I start working on the animation?

It is 65 mb so I uploaded it to dropbox:
https://www.dropbox.com/s/8cpuxdid11b9ny7/MyBit_Animated_Explainer_Video_Storyboard.pdf?dl=0

Thank you!

[2018-11-09 14:58] AspacehUK commented on #33
Hi @mihaelkrieger Good start, I'll start going over it. Visually we need all the icons to follow the style on the current mybit.io website and not the ones from MyBit Go. I'll give it a proper look over the weekend and give you feedback. Thanks!

[2018-11-14 14:45] cryptnotiq commented on #33
hey @mihaelkrieger this is really good. @AspacehUK will guide you on any design-related stuff but here are my comments on each screen.
Screen 1: Perfect
2: Text is good, visual is also good but if possible maybe add how a piece of of all the money going through the broker - they get to keep. Could be as simple as a piece of the coin (like a slice of pie) stays with the broker and piles up next to

[2018-11-14 21:30] cryptnotiq commented on #26
@rd123myb so it's going in the right direction. My few comments are:
1. Spell out IoT first time it is mentioned like Internet of Things (IoT)
2. Go through it and try to simplify it, it's written very well but really only caters to people in the industry bc a lot of the terminology is advanced. Basic examples like Alice and Bob are the best.
3. Include a very simple how it works section to it. In

[2018-11-14 23:11] alejodosr commented on #48
Hi,

I am working on this :) What is the procedure to iterate with temporary documents?

Bests,

[2018-11-15 16:35] cryptnotiq commented on #48
@alejodosr great just tag me in a comment with the link when you do.

[2018-11-16 11:11] uivlis commented on #34
Hello there, again! I enabled commenting for a draft [here](https://docs.google.com/document/d/1b5wyO-glf_MZryTdCPn7YTctf_FBNUDikhp7pXRuc-k/edit?usp=sharing), would be great to know your thoughts on that.

[2018-11-17 22:07] cryptnotiq commented on #34
hey @uivlis I just went through the draft and made comments right on that. Please let me know if you have any questions.

[2018-11-17 22:13] alejodosr commented on #48
Hey @cryptnotiq , here you have the first version. I am looking forward to reviewing your comments :)

https://drive.google.com/open?id=17niya64cF6htkCxfw0PVZ_oxGYXUJiBMf2EfYgYRyrA

[2018-11-17 22:21] cryptnotiq commented on #48
hey @alejodosr could you share a link where comments are enabled so I can send you notes directly on the doc?

[2018-11-17 22:25] alejodosr commented on #48
I did actually, let's try with this https://docs.google.com/document/d/17niya64cF6htkCxfw0PVZ_oxGYXUJiBMf2EfYgYRyrA/edit?usp=sharing

[2018-11-17 22:37] cryptnotiq commented on #48
@alejodosr cool - comments made.

[2018-11-18 07:13] uivlis commented on #34
Hey @cryptnotiq, got your comments and adjusted the draft, see if it is fine now.

[2018-11-18 20:08] alejodosr commented on #48
Hey @cryptnotiq , comments implemented :)

[2018-11-19 09:33] uivlis commented on #35
@cryptnotiq Posted my version [here](https://docs.google.com/document/d/1FdeRwP2VcbxpelU4doMU4uIRK7tSRPh5JCJcnveTxfQ/edit?usp=sharing), can you take a look?

[2018-11-19 10:05] loputdine commented on #19
There is a bit different original content on the website comparing to what is in the document in this task in some places. Should I correct the document (and my translation) in accordance to the live version of the content?

[2018-11-19 11:56] chriswyatt999 commented on #19
@loputdine update/correct the document.

[2018-11-19 16:35] cryptnotiq commented on #48
great - I sent it over to our content manager for final review. Please allow around 48-72 hours for him to go through it. If you have not heard anything by then, please ping me here.

[2018-11-19 16:35] cryptnotiq commented on #34
great - I sent it over to our content manager for final review. Please allow around 48-72 hours for him to go through it. If you have not heard anything by then, please ping me here.

[2018-11-19 16:40] cryptnotiq commented on #35
Great - please allow 48-72 hours for it to be reviewed. Comments will be added directly to the document.

[2018-11-20 09:32] uivlis commented on #34
Heard from him, did what he said. Can you have a look again?

[2018-11-20 15:20] uivlis commented on #35
All right, went through the third batch of comments. Waiting for feedback.

[2018-11-20 23:36] alejodosr commented on #48
hey @cryptnotiq I have successfully implemented all the nice comments of Rory and James. Waiting for the next move :)

[2018-11-21 14:33] supapeach commented on #10
Can I upload here?

(https://github.com/MyBitFoundation/MyBit.marketing/files/2604576/mybit.WPv2.0.docx)

[2018-11-21 14:36] supapeach commented on #10
[Go-Documentation.docx.docx](https://github.com/MyBitFoundation/MyBit.marketing/files/2604592/Go-Documentation.docx.docx)

[2018-11-21 16:19] cryptnotiq commented on #34
looks great - please submit a pull request.

[2018-11-21 17:15] cryptnotiq commented on #48
@alejodosr made some final comments to incorporate but very good so far, it's almost done.

[2018-11-21 17:18] cryptnotiq commented on #35
very nice. Can you submit a pull request @uivlis

[2018-11-21 19:16] cryptnotiq commented on #10
Follow the directions to upload/paste in a new file into github. https://medium.com/mybit-dapp/a-guide-to-the-mybit-decentralised-development-fund-45cb9c1bcda4

[2018-11-21 19:42] alejodosr commented on #48
@cryptnotiq comments implemented, you can already check them

[2018-11-21 22:10] rd123myb commented on #26
Hey is this the main thread?

[2018-11-22 00:30] #34 closed

[2018-11-22 00:30] #35 closed

[2018-11-26 15:12] alejodosr commented on #48
hey @cryptnotiq any problem with the implementation? I am eager to keep on contributing but I'd like to fully complete this contribution first to have a global overview of the process :)

[2018-11-26 19:40] cryptnotiq commented on #26
@rd123myb yes.

[2018-11-26 19:50] cryptnotiq commented on #48
@alejodosr apologies for the delay. All looks good - please submit a pull request.

[2018-11-26 23:31] alejodosr commented on #48
@cryptnotiq pull request submitted! (https://github.com/MyBitFoundation/MyBit.marketing/pull/53)

[2018-11-28 14:22] alejodosr commented on #48
@cryptnotiq I am working on other contribution, but I'd like to firstly know, how much does it take (on average) for an already checked pull request to be merged?

[2018-11-28 14:52] csmartinsfct commented on #48
@alejodosr merged the PR. Payment will follow soon.

As far as the time it takes, if it's already been approved then it should be pretty quick, few hours I suppose. The thing is we're still working out the kinks as far as keeping track of all the issues and their state, so a heads up like you just did not only is it fine, we appreciate it.

Danke! 💯

[2018-11-29 16:20] alejodosr commented on #48
@csmartinsfct thank you! and keep up the good work!

[2018-12-03 11:21] #26 closed

[2018-12-03 15:30] alejodosr commented on #46
Hi, here you can find a preliminary version :) I hope you can review it and make some comments.

https://docs.google.com/document/d/15znMWO0OfkAVFojYldYg5xdQozb5h1vyZgLHLupQXhw/edit?usp=sharing

[2018-12-05 17:32] cryptnotiq commented on #46
@alejodosr made some comments. Will also shoot to James for review.

[2018-12-06 04:08] #30 closed

[2018-12-06 04:19] 0xjjpa commented on #48
This one was solved and paid manually, so the contract payment was sent back to my address. Thanks, everyone!

[2018-12-06 04:19] #48 closed

[2018-12-06 21:38] alejodosr commented on #46
Hey @cryptnotiq, rewieved all the comments and implemented the changes.

[2018-12-07 15:48] #29 closed

[2018-12-07 18:50] figure8labs commented on #11
is this still available?  It seems like the bounty changed from what it was yesterday.

[2018-12-07 18:54] 0xjjpa commented on #11
@figure8labs 👋 we are actually cleaning up some of our bounties. We migrated from [Open Bounty](https://openbounty.status.im) to [Gitcoin](https://gitcoin.co) and changed the price. Unfortunately, we are still deciding which bounties we are keeping so please go through the Gitcoin application process to apply for one you like ☺️

[2018-12-08 06:06] mybit-coordinator commented on #11
👋 @figure8labs Apologies for the confusion, this one, as well as many translation ones, are being removed from our Bounty program. Keep tuned! We'll add a few more ☺️

[2018-12-08 06:10] #11 closed

[2018-12-08 06:12] #19 closed

[2018-12-08 06:15] mybit-coordinator commented on #17
Hi @kedMertens , we are unfortunately closing this bounty for now. Please keep tuned for further bounties, and use [Gitcoin](http://gitcoin.co) in the future where we will be hosting all our new bounties. Thank you! 🙏

[2018-12-08 06:17] #17 closed

[2018-12-08 06:34] #15 closed

[2018-12-08 06:35] #13 closed

[2018-12-08 06:37] #18 closed

[2018-12-08 06:39] #9 closed

[2018-12-08 06:57] #47 closed

[2018-12-08 06:59] #8 closed

[2018-12-08 07:04] #45 closed

[2018-12-10 19:04] 0xjjpa commented on #46
Hi @alejodosr ! We are migrating from our Open Bounty platform to Gitcoin, so please feel free to apply with your current work on that platform. Thanks! 🙏

[2018-12-12 23:06] alejodosr commented on #46
hey @jjperezaguinaga, I am waiting for getting the acceptance in gitcoin and the remaining comments on the document, so that we can approach the final version.

[2018-12-13 04:43] nanspro commented on #46
@cryptnotiq @jjperezaguinaga
looks like @alejodosr  has already done the work so what is the status of the bounty, is it open for other contributors??

[2018-12-13 15:11] alejodosr commented on #46
@nanspro just to point out that the reason I've completed the work before the gitcoin issue got accepted is due to the change in the MyBit infrastructure. By the time I was working on the issue, they were using OpenBounty.

[2018-12-13 15:15] 0xjjpa commented on #46
👋 @nanspro @alejodosr apologies for the confusion, yes, we had Open Bounty but now with Gitcoin we are able to regulate the workflow better. Thus, some bounties might show available even though there's someone already working on it, so only @alejodosr has been approved.

[2018-12-13 15:15] 0xjjpa commented on #46
@alejodosr You can use the Gitcoin interface to submit your work ☺️ - https://gitcoin.co/issue/MyBitFoundation/MyBit.marketing/46/1964

[2018-12-13 16:30] loputdine commented on #19
Sorry for keeping silence for so long, I see that bounty is no longer active and translates are no longer needed, right?

[2018-12-13 16:34] mybit-coordinator commented on #19
@loputdine that is correct, unfortunately for the time being we don't have any more Translation bounties. Please keep tuned through [Gitcoin](https://gitcoin.co/) for incoming bounties ☺️

[2018-12-15 18:53] David405 commented on #25
Hello @gitcoinbot,  I am sorry for my late response/feedback,  I actually have started work on the video scripting,  I will give more feedback by next week.

[2018-12-17 02:11] alejodosr commented on #46
@jjperezaguinaga I have submitted the last version I have implemented as a pull request. I guess we can continue in the pull request comments?. I am now waiting for some final comments on the document. Thank you.

[2018-12-18 03:51] David405 commented on #25
@jjperezaguinaga @MyBitIO my question is still yet to be answered, I would love to understand the Final document in the **expected deliverables**

[2018-12-18 06:13] BlueFoxx commented on #20
I would love to start work on this but am not seeing it on open bounty or gitcoin

[2018-12-19 06:07] motionfactory-digital commented on #33
Am able to assist if need be as well - please upload the finished project along with the working files so that we can all see once the first draft is ready?

[2018-12-19 06:08] motionfactory-digital commented on #33
@mihaelkrieger that Storeyboard looks awesome great start.....i am excited to see the final result

[2018-12-19 17:05] mybit-coordinator commented on #33
@sypha999 Apologies for the delayed response! You had been approved on [Gitcoin](https://gitcoin.co/issue/MyBitFoundation/MyBit.marketing/33/1982) and can submit now your work.

@mihaelkrieger You've done already some work! Please apply and submit what you've got through Gitcoin so we can work together on the issue. Thanks! 🙏

[2018-12-19 17:30] 0xjjpa commented on #20
Hi @Jerometash ! Unfortunately, this bounty has been locked down for the moment since we are having some issues retrieving the funds from the contract. We'll update you when this changes!

[2018-12-19 17:56] 0xjjpa commented on #25
Hi @David405 ! Apologies for the delayed response.

We mean the storyboard and general content used for the video. Both should be included :)

[2018-12-21 18:24] David405 commented on #25
Oh okay, that is  clear now, thanks

[2018-12-22 18:10] David405 commented on #25
Yes I am still active on this issue,  I will submit the video script by monday and complete the video next week

[2018-12-22 22:39] sypha999 commented on #33
Am still on it, the video should be ready soon.

[2018-12-27 17:04] motionfactory-digital commented on #33
Please upload progress - a clip of work done thus far

[2018-12-27 17:34] motionfactory-digital commented on #25
@David405 please upload the work done thus far ?

[2018-12-28 06:20] David405 commented on #25
Hi @cryptovideos,  its good to see you here,  I am really really sorry for the delay @everyone,  this is my first job in mybit and as such I need to thoroughly understand how it works to do a tutorial video,  this is the cause of the delay,  the script is actively being developed

[2018-12-29 14:08] sypha999 commented on #33
@gitcoinbot am still on it

[2019-01-02 19:43] 0xjjpa commented on #20
👋 for anyone dropping by, we are migrating this bounty to Gitcoin, so it will soon have a paid request on it ☺️

[2019-01-02 19:49] #12 closed

[2019-01-03 19:16] sypha999 commented on #33
Just rounded up the production of several GIF animations to be used in the video production

[2019-01-04 14:21] willsputra commented on #44
Hi @kimrice, William from Gitcoin here. Are you still working on this issue?

[2019-01-04 16:29] David405 commented on #25
Hello @jjperezaguinaga here is a [mockup video ](https://drive.google.com/file/d/1hkfIIzlD44uhXt9Iid6H7L1qAiN_G8qg/view?usp=sharing). Kindly drop your comments and feedback regarding the video.

**NB: This is only a mockup video and so it is still largely unedited, so you may experience background noise and other minor errors.**

[2019-01-08 23:25] mybit-coordinator commented on #25
Hi @David405 ! Passing back some comments from the team ☺️

- Intro seemed long / Does he need to go into such detail about MyBit the company?  Is the tour of the website necessary?
- Walkthrough doesn’t start until around 6min, how much of the info before this is really required for a DDF Walkthrough?
- 7:40 - Gitcoin gets mentioned and seems kind of out of nowhere.  Also mentions being cross pos

[2019-01-08 23:50] mybit-coordinator commented on #44
Hi @kimrice, you had been removed from this bounty for the time being. If you want to reapply, please do so through our Gitcoin page ☺️

[2019-01-08 23:55] mybit-coordinator commented on #46
@alejodosr Apologies for the delayed response, the team will review this now!

[2019-01-09 04:16] mybit-coordinator commented on #33
@sypha999 👋 hope everything is going on well! Let us know if you have any updates on your side ☺️

[2019-01-09 14:54] ghost commented on #33
Update on this would be good.

[2019-01-09 15:21] sypha999 commented on #33
@mybit-coordinator @AspacehUK yeah things are going on pretty well. Am sorry for the delay, got caught up in the holiday vibe. Would definitely give an update on this before the week runs out

[2019-01-10 00:00] nive18 commented on #22
Hi Team,

I am working on this.

On Wed, 9 Jan 2019, 22:59 Gitcoin.co Bot <notifications@github.com wrote:

[2019-01-11 20:57] sypha999 commented on #22
Is there any specific guideline to be followed in writing this article?

[2019-01-11 21:06] mybit-coordinator commented on #22
@sypha999 Good question! Reaching the team to see if that's the case.

[2019-01-13 20:23] sypha999 commented on #33
Hey guys, can someone help me out with the font name mybit uses in designing their name logo

[2019-01-14 07:35] cryptnotiq commented on #33
@AspacehUK ^^

[2019-01-14 07:38] sypha999 commented on #33
Thanks

[2019-01-14 07:41] cryptnotiq commented on #22
@sypha999 hello - you are free to write this without a specific guideline. The main goal is to showcase to people 1) why they would invest (what is the value) 2) step by step guide on how to actually invest

For 1 I think the key points are
a) it's like a bond market for crypto. Reduce volatility and move into something that generates stable returns, and then still having the ability to sell your

[2019-01-14 09:39] ghost commented on #33
@sypha999 please see attached.
[Gilroy-font.zip](https://github.com/MyBitFoundation/MyBit.marketing/files/2754612/Gilroy-font.zip)

[2019-01-14 10:22] sypha999 commented on #22
@cryptnotiq thanks for the info

[2019-01-14 10:27] sypha999 commented on #33
@AspacehUK thanks. I succeeded in using some pictures from mybit.io to create sevral GIFs to be used for the video

[2019-01-14 23:26] 0xjjpa commented on #22
@sypha999 we, however, do have a [Tone of Voice](https://github.com/MyBitFoundation/MyBit.marketing/files/2756848/MyBit.ToV.pdf) you can check out.

[2019-01-16 01:40] Anish-Agnihotri commented on #44
Hey, still working here. Going to drop a document in within the next 48 hours.

[2019-01-16 09:28] David405 commented on #25
Hello @mybit-coordinator, I have taken into consideration all feedback and would submit an update later today.

[2019-01-17 15:12] 0xjjpa commented on #46
@alejodosr In case you didn't see from the Pull Request comment:

Thank you!

[2019-01-17 17:15] alejodosr commented on #46
@jjperezaguinaga We were working on a Google Doc already. In case, you are not aware of the file, here you are: https://docs.google.com/document/d/15znMWO0OfkAVFojYldYg5xdQozb5h1vyZgLHLupQXhw/edit?usp=sharing

[2019-01-17 17:35] 0xjjpa commented on #46
@alejodosr Roger that! @cryptnotiq will get back on you shortly, I believe he already took a look at that file but reshared it again just in case.

[2019-01-20 07:41] David405 commented on #25
Hello @mybit-coordinator checkout this [remake](https://drive.google.com/file/d/1A4xIZoFHv7DiYf8zjRrGax73lGAW9DMY/view?usp=sharing) and let me know what the team thinks.

[2019-01-20 17:17] motionfactory-digital commented on #33
Hahahah what a joke

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Gitcoin.co Bot <notifications@github.com>
Sent: Sunday, January 20, 2019 7:15:40 PM
To: MyBitFoundation/MyBit.marketing
Cc: Cryptovideos; Comment
Subject: Re: [MyBitFoundation/MyBit.marketing] Animated explainer video of MyBit (#33)

Issue Status: 1. Open 2. Started 3. Submitted 4. Done

___

[2019-01-21 15:10] sypha999 commented on #33
Am still on this, like I said am using Images from mybit.io, It would have been easier getting a couple of GIFs nd putting them together, but it's not really an easy task creating GIFs from ordinary images. It requires time and good creativity. @cryptovideos I don't appreciate your kind of comments. If you could do it you would have done so a long time from now.

[2019-01-21 17:23] sypha999 commented on #22
how do I submit my article?

[2019-01-21 17:35] mybit-coordinator commented on #22
@sypha999 Hi! You can upload it in a Google Doc and submit the URL through [Gitcoin](https://gitcoin.co/issue/MyBitFoundation/MyBit.marketing/22/1983),

[2019-01-22 10:32] rd123myb commented on #44
Hi @Anish-Agnihotri are you planing to drop in a document?

[2019-01-22 10:34] cryptnotiq commented on #25
hey @David405 the video is good but we don't use Status Open Bounty anymore, we fully migrated to Gitcoin so if you could remove the mentions of openbounty it would be great.

[2019-01-23 01:41] sypha999 commented on #22
@mybit-coordinator I couldnt submit through gitcoin here's the link to the article https://drive.google.com/file/d/1csj7i89NDIG-htLKTPtHrn1qHYMO7Wi-/view?usp=drivesdk criticism, pointing out omissions, and correction would be appreciated so I could put a final touch to it.

[2019-01-23 02:37] rd123myb commented on #22
Hi @sypha999 I went through and posted a few initial suggestions in the article. The team review the doc and touch base about the gitcoin submission shortly.

[2019-01-23 07:41] sypha999 commented on #22
@rd123myb thanks, but I can’t seem to see the suggestions you made

[2019-01-23 09:40] rd123myb commented on #22
It must have made a new copy when i opened in google docs - here is a link to the feedback version https://docs.google.com/document/d/1HWk1E0uK77a3R2x2HNRCXS7UhXfqoCKbQZ6ZKYfV3cA/edit?usp=sharing

[2019-01-23 10:40] sypha999 commented on #22
@rd123myb thanks I can see you changed the font, but I still didnt see the suggestiions

[2019-01-23 17:19] cryptnotiq commented on #22
@sypha999 hey, sorry but this is not the quality we are looking for. Grammatically it has many issues and it doesn't captivate the reader about investing. Also, seems to be a lack of understanding about the platform and common vocabulary associated with it. This would be an ok script for a video demo, but that is not what we are looking for. Thanks for trying.

[2019-01-23 18:28] sypha999 commented on #22
Ok, thanks

[2019-01-24 20:14] David405 commented on #25
@mybit-coordinator @cryptnotiq I have made further [corrections.](https://drive.google.com/open?id=1kYWppcNZ9EZW-UFbMvji9vlvBTwg6lSl)

[2019-01-25 02:46] Anish-Agnihotri commented on #44
Hi @rd123myb. Complete apologies for dropping out on this issue. Unacceptable that it's been nearly two weeks since taking it up. I will be dropping the document within the next twenty-four hours, or will personally remove myself from the bounty.

Appreciate the patience, and my apologies for the delay.

[2019-01-26 03:57] Anish-Agnihotri commented on #44
Hey everyone!

First and foremost, apologies for the long delay. I've just completed the first draft. I'd love to receive your feedback so that I can revise it for the final draft. Feel free to let me know if you'd like me to move the content to a Google Doc so that you can live comment/edit.

Otherwise, here is the doc file:
[Getting started with cryptocurrencies using the MyBit Mobile Wallet.doc

[2019-01-26 08:45] rd123myb commented on #44
Thanks Anish! We'll get back to you soon.

[2019-01-26 18:02] sypha999 commented on #33
Am still on it

[2019-01-26 22:01] rd123myb commented on #33
I'm looking forward to it! if i can help in any way let me know 🥇

[2019-01-27 11:50] sypha999 commented on #33
@rd123myb yeah,  perhaps you could help with the voice over

[2019-01-27 23:13] rd123myb commented on #33
@sypha999 Sure ill give it a shot, just FYI It will be a few days till i can get a good quality microphone and i have a strong NZ accent 🏏

[2019-01-28 11:03] sypha999 commented on #33
That's cool, could we keep in touch on discord am daton#4414

[2019-01-28 21:42] mybit-coordinator commented on #25
Thanks @David405 Looks good! Once you post on your own youtube/vimeo channel your bounty will be paid 😄 (as mentioned on expected deliverables).

[2019-01-29 03:01] mybit-coordinator commented on #44
Hi @Anish-Agnihotri Fantastic job! As stated i the expected deliverables above, please share the article on your own personal medium and/or steemit account and promote on your social channels. Your bounty will then be processed 👍

[2019-01-29 03:07] Anish-Agnihotri commented on #44
Sounds good 👍. Will stick to the trend of decentralization and post it on Cent too. Maybe do a few bounties to promote users downloading the app, haha.

Will attach links to published articles within twenty-four hours, and will submit Gitcoin bounty right now as well.

Cheers!

[2019-01-30 03:15] rmshea commented on #22
hey @cryptnotiq ryan from gitcoin here. i removed sypha from the Gitcoin Issue page. let me know if anything comes up with this issue in the future

[2019-01-30 04:34] rd123myb commented on #22
Thanks @ryan-shea, my name is Rory i'm coordinating all the bounties for MyBit. I was told to remove sypha from the issue earlier i'm sorry about the delay. I'm still establishing an understanding of the Gitcoin platform and processes.

[2019-01-30 20:26] rd123myb commented on #22
@Jerometash @jamessandy - hey guys are you still working on this bounty?

[2019-01-30 22:35] BlueFoxx commented on #22
@rd123myb, I have made a draft copy, is it okay to send the draft to the gitter channel first for some corrections and suggestion?
Am really sorry for the delay, I applied sometime back and thought I wasn't gonna be accepted, so I had even given up but when I saw some alerts in my email yesterday. I began working on it.

[2019-01-31 02:36] rd123myb commented on #22
Hi @Jerometash, sounds good! Preferably a google doc link so we can give you active feedback.

[2019-01-31 22:24] sypha999 commented on #33
@mybit-coordinator @rd123myb @cryptnotiq  I am rounding up the video right now and I need some info, would appriciate if you could give proper answers to these questions

Does MyBit Network consist of applications powered by MyBit?

Does MyBit SDK consist of MyBit mobile for ios and andriod?, What is MYDAX?

[2019-02-01 03:58] rd123myb commented on #33
Nice @sypha999! @cryptnotiq is the person to answer those but he is sick at the moment. In the mean time ill give you answers that i am confident are correct.

**The MyBit Network** is a business logic layer on top of the Ethereum Blockchain, which in turn becomes a protocol for building wealth management applications.

**The MyBit SDK** provides any developer the ability to easily interact with t

[2019-02-01 22:29] rd123myb commented on #25
Hi @David405, just to be clear your submission has been approved! you just have to post and share the video as mentioned.

[2019-02-01 22:32] rd123myb commented on #44
Hi @Anish-Agnihotri, Just following up on whether you managed to post the blog yet? Great job by the way!

[2019-02-02 06:06] David405 commented on #25
Alright @rd123myb, will do.

[2019-02-02 06:30] David405 commented on #25
The video is now live in [Youtube](https://youtu.be/qvgODt4kYpo)!

My wallet address is 0xB2b0d4bA2F4ba6C9ec111853E53BD6e222EFd76C

[2019-02-02 14:45] Anish-Agnihotri commented on #44
Hey @rd123myb, apologies got carried away with some other things.

Posted on Cent here: https://beta.cent.co/+tys45
I unfortunately don't use Steemit or Medium. I've signed up for Steemit but there is currently a 1-2 week queue to get accepted. Once that is completed, I'll happily post the article there as well.

After the bounty is completed, I'll add some bounty funds to the Cent post and incent

[2019-02-05 01:16] Anish-Agnihotri commented on #44
I'll be posting a bounty regarding the mobile wallet early tomorrow and will post a link to that too. Other than that, think this issue should be good to be closed?

[2019-02-05 03:37] rd123myb commented on #44
Hey Anish, I'm waiting to hear back on that as medium/steemit posting is a specified part of the bounty. Can you create a medium account and post there along with steemit when your account comes through?

[2019-02-05 19:55] rd123myb commented on #44
Hi @Anish-Agnihotri, as great as the blog is we have to stick to policy and wait till its posted on medium and steemit before releasing the bounty. I can assure you that your work has been accepted and that you will certainly be paid when you get your steemit/medium going (noone can jump past you). I am happy to help you in any way to get you signed up to those services.

[2019-02-05 20:34] rd123myb commented on #22
^ that was supposed to be snoozed sorry about that

[2019-02-07 02:58] Anish-Agnihotri commented on #44
For sure, I completely understand!

Medium post: [Here](https://medium.com/@gsuite_26938/getting-started-with-cryptocurrencies-using-the-mybit-mobile-wallet-4798bc4772b2)

Steem post: [Here](https://steemit.com/ethereum/@anishagnihotri/getting-started-with-cryptocurrencies-using-the-mybit-mobile-wallet)

Let me know if there are any other requirements or things I should do!

Cheers!

[2019-02-07 03:38] rd123myb commented on #25
Thanks @David405, please submit through Gitcoin to assist the payout process. Thanks for the work!

[2019-02-07 09:20] rd123myb commented on #44
Bounty paid, great work @Anish-Agnihotri! We hope to see you again!

[2019-02-13 01:50] sypha999 commented on #33
@rd123myb https://drive.google.com/file/d/1ko_EEuuaN2fLBgQ3iivkEzFs87XuSk-u/view?usp=drivesdk here's a copy of the video

[2019-02-13 01:50] sypha999 commented on #33
Any suggestion or corrections are welcomed

[2019-02-21 01:03] rd123myb commented on #33
Hi @sypha999, I'm sorry to inform you that the video didn't meet the standard of the bounty. Thanks very much for your effort none the less!

[2019-02-22 07:24] rd123myb commented on #22
Looks good @Jerometash, you now just need to submit your work through Gitcoin.co and post the blog on your social media accounts as mentioned in the requirements. After these steps are complete your bounty will be paid, good job!

[2019-02-23 04:18] BlueFoxx commented on #22
Thank you, everything is set. Am not sure of what to do next thou. Do I need to do a PR for the file or just upload it direct?

[2019-02-23 04:32] BlueFoxx commented on #22
Otherwise, here is the work. Thanks for the opportunity!

- [Tutorial on how to invest using Mybit Go.docx](https://github.com/MyBitFoundation/MyBit.marketing/files/2896488/Tutorial.on.how.to.invest.using.Mybit.Go.docx)
- [Medium Blog](https://medium.com/@zayeemoh/tutorial-on-how-to-invest-using-mybit-go-87f1c922108e?source=friends_link&sk=aa006d7c9955c72a8c59ad9eb9dd3690)
- [Steemit Blog](https:/

[2019-04-04 22:37] #46 closed

[2019-04-04 22:38] #44 closed

[2019-04-04 22:43] #33 closed

[2019-04-04 22:45] #25 closed

[2019-04-04 22:46] #22 closed